@font-face {
    font-family: 'SourceSansPro';
    src : url('../assets/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'SourceSansProSemiBold';
    src : url('../assets/fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
    font-family: 'SourceSansProLight';
    src : url('../assets/fonts/SourceSansPro-SemiBold.ttf');
}


body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

h1, h3, h5, p, h6, li {
  font-family: 'SourceSansPro';
  font-weight: normal;
  color: #1a2052;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-family: 'SourceSansProSemiBold';
  font-size: 1.25em; 
}

p {
  font-size: 0.87em;
}

.wrapper {
  margin: auto;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}



/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100%;
}

[id="logo"] {
  margin-left: 10%;
  margin-top: 10%;
  max-width: 189px;

}

.bg svg{
 margin-right: 32px;
 max-width: 100%;
}

.rightside {
  position: relative;

}

@media only screen  and (max-width: 1024px) {

  [id="logo"]{
    width: 100%;
  }
}



/* NAVBAR */
.nav  {
  position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
}
.nav ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap:3em;
 
}
.nav ul li {
  text-align: center;
  height: 32px;
  list-style-type: none;   
  font-size: 1.2em;
  color: #1a2052;
  border-bottom: 2px solid #383838;
}
.nav ul li:hover {
  cursor: pointer;
  color: #e78300;
  border-bottom: 2px solid #e78300;
}

@media only screen  and (max-width: 1024px) {
  .nav ul li {
    font-size: 0.8em;
  }
}

@media only screen  and (max-width: 768px) {
  .nav ul li {
    font-size: 0.6em;
  }
}





/* RESEAUX SOCIAUX */
.rs {
  position: absolute;
  top: 0;
  right: 10px;
}
.rs ul li {
  list-style-type: none;   
}
.icon {
  max-width: 15px;
}

/* SECTION FOOTERS */
.section_footer {
  margin-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.section_footer.light p{
   color: #1a2052;
}

.section_footer.dark p{
    color: #ffffff;
}

@media only screen and (max-width: 768px) {

  .section_footer.light p,
  .section_footer.dark p {
    font-size: 0.8em;
  }

   .section_footer.light svg,
  .section_footer.dark svg {
    width: 25px;
  }
}


/* SECTION SCHOWCASE */

.section_showcase img {
  max-width: 100%;
} 

.section_showcase .section_text {
  position: absolute;
  margin: -250px 20%;
  line-height: 1.5em;
}

.section_showcase .section_text h1, 
.section_showcase .section_text p{
  color: #ffffff;
}

.section_showcase .section_text h1{
  font-size: 50px;
  font-weight: bold;
}

.section_showcase .section_text p{
  font-size: 20px;
}

@media only screen  and (max-width: 1024px) {
  .section_showcase .section_text h1 {
    font-size: 2em;
  }
}

@media only screen  and (max-width: 768px) {

  .section_showcase .section_text {
    margin: -150px 10%;
  }
  .section_showcase .section_text h1 {
    font-size: 1.5em;
  }
  .section_showcase .section_text p {
    font-size: 0.85em;
  }
}




/* intersection 1*/

.bg_intersection{
  background: url('../assets/svg/imported-layers-2.svg') no-repeat;
  background-size: 50%;
  max-height: 50px;
  display: flex;
}

.intersection p {
  margin: auto;
}

@media only screen and (max-width:768px) {
  .intersection p {
    font-size: 0.6em;
  }
}

@media only screen and (max-width:400px) {
  .intersection p {
    font-size: 0.5em;
  }
}



/* SECTION 2 */
.section_services {
  text-align: center;
  background: #f5f5f5;
}

.section_services > h3 {
  margin: 0;
  padding-top: 40px;
  font-variant: small-caps;
  font-size: 1.5em;
}

.section_services .cards {
  text-align: center;
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding: 0px 10%;
}

.section_services .cards h4 {
  margin-top: 35px;
  font-weight: 600;
  color: #1a2052;
}

.section_services .cards h4::first-letter {
 font-variant: small-caps;
}

.section_services .cards p {
 
  line-height: 21px;
  text-align: left;
  color: #212121;
}

.section_services .cards > img {

  background-blend-mode: color-dodge;
}


@media only screen  and (max-width: 1024px) {
  .section_services .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen  and (max-width: 768px) {
  .section_services .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}



/* SECTION EXPERTISE */
.section_expertise {
  background: url('../assets/img/aeroport-paris-cdg-oeuvre-sur-natures-de-miguel-chevalier.png') no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #1a2052;
  opacity: 0.85;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section_expertise > h3{
  font-weight: normal;
  margin-top: 20px;
  font-variant: small-caps;
  color: #ffffff;
}

.section_expertise > p {
  color: #fff;
  max-width: 590px;
  margin-bottom: 40px;
  padding: 0 10px;
  font-family: 'SourceSansProLight';
  line-height: 24px;
  align-self: center;
 
}

.section_expertise .cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  padding: 0px 10%;
}

.section_expertise .cards img {
  width: 40%;
}

.section_expertise .cards h3{
  color: rgb(255, 255, 255);
  font-variant: initial;
}

.section_expertise .cards p {
  line-height: 1.5em;
  text-align: left;
  color: #f5f5f5;
 
}

@media only screen  and (max-width: 1024px) {

  .section_expertise .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .section_expertise .card_layout {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: 1fr 2fr 4fr;
    grid-column-gap: 1em;
  }

  .section_expertise .cards img, 
  .section_expertise .cards h3 {
    margin: auto;
    width: 100%;
  }
 
}

@media only screen  and (max-width: 768px) {

  .section_expertise .card_layout {
    grid-template-columns: 1fr 4fr;
  }

  .section_expertise .card_layout p {
    grid-row: 2;
    grid-column: 1/3;
  }

  .section_expertise > p {
    font-size: 0.8em;
  }
 
}



/* SECTION ACTUALITES */
.section_actualites > h3 {
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
}

.section_actualites .card_rows {
  display: flex;
  flex-direction: column;
}

.section_actualites .card_row_up {
  display: flex;
  flex-direction: row;
}

.section_actualites .card_row_down {
  display: flex;
  flex-direction: row-reverse;
}

.section_actualites .card_row_up,
.section_actualites .card_row_down {
  justify-content: center;
}

.section_actualites .card_layout {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.section_actualites .card_row_up .card_layout:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.section_actualites .card_row_down .card_layout:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
}

.section_actualites .card_text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  padding: 10px 20px; 
}

.section_actualites .card_text h3,
.section_actualites .card_text p,
.section_actualites .card_text h6 {
  margin: 0; 
  line-height: 1.5em;
}

.section_actualites .card_text p {
  font-size: 16px;
}

.section_actualites .card_text h6 {
  font-size: 13px;
}

.section_actualites  img{
  width: 170px;
}

@media screen and (max-width: 1024px) {

  .section_actualites .card_row_up,
  .section_actualites .card_row_down {
    flex-direction: column;
    margin: auto;
  }

  .section_actualites .card_layout {
    flex-direction: row-reverse;
  }

}

@media screen and (max-width: 588px) {

  .section_actualites  img{
  width: 85px;
}

  .section_actualites .card_text h3 {
    font-size: 0.8em;
  }
  .section_actualites .card_text p {
    font-size: 0.7em;
  }

  .section .card_text h6{
    font-size: 0.5em;
  }

}

/* SECTION PRODUCTIONS ARTISTIQUES */

.section_prodart {
  height: 100%;
  background-color: #1a2052;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section_prodart > h3 {
  font-size: 24px;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-align: center;
  color: #ffffff;
  margin: 50px;
  
}

.section_prodart .card_img {
  position: relative;
  z-index: 2;
}

.section_prodart .card_img p::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 5px;
  border-style: solid;
  border-width: 0px 544px 20px 0;
  border-color: transparent rgba(26, 32, 82, 0.85) transparent transparent;
}

.section_prodart .card_img p {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  margin-bottom: -27px;
  margin-left: 5px;
  margin-right: -4px;
  padding-right: 8px;
  text-align: right;
  color: #ffffff;
  background-color: rgba(26, 32, 82, 0.85);
  opacity: 0.85;
}

.section_prodart .cards {
  display: flex;
  justify-content: center;
}

.section_prodart .card_layout {
  max-width: 550px;
  margin: 0px 20px;
}

.section_prodart .card_layout .card_text {
  text-align: left;
}

.section_prodart .card_layout img {
  width: 100%;
  border: solid 5px #ffffff;

}

.section_prodart .card_text h3, 
.section_prodart .card_text p{
  color: #ffffff;
  line-height: 1.5em;
}

.section_prodart .card_text h3 {
  font-size: 20px;
  text-align: center;
} 

.section_prodart .bg svg{
  position: absolute;
  z-index: 1;
  text-align: left;
  margin-top: -270px;
  margin-left: 150px;
}

@media only screen and (max-width: 1024px) {
  .section_prodart .cards{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* SECTION ARTLAB NUMART*/

.section_numart > h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-align: center;
  color: #1a2052;
  margin: 50px;
  
}


.section_numart .showcase img {
  position: relative;
  z-index: 1;
  width: 100%;
}


.section_numart .showcase::before,
.section_numart .showcase::after {
    content: '';
    position: absolute;
    z-index: 2;
    border-style: solid;
}

.section_numart .showcase::before {
  border-width: 0 1300px 50px 0;
  border-color: transparent #f5f5f5 transparent transparent;

}

.section_numart .showcase::after {
  margin-top: -50px;
  border-width: 50px 0 0 1300px;
  border-color: transparent transparent transparent #f5f5f5;
}

.section_numart .cards {
  display: flex;
  justify-content: space-around;
}

.section_numart .card_layout {
  max-width: 360px;
}

.section_numart .card_text h3, 
.section_numart .card_text p{
  line-height: 1.5em;
}

.section_numart .card_text h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.section_numart .bg {
  text-align: right;
  position: relative;
  z-index: 2;
  margin-right: 0;
  margin-top: -450px;
  transform: rotateY(180deg);
  opacity: 0.3;
}

.section_numart .section_footer {
 margin-top: -130px;
}

@media only screen and (max-width:768px) {
  .section_numart .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
  }
}

/* FOOTER */

footer {
  display: flex;
  min-height: 285px;
  background-color: #212121;
  color: #ffffff;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-gap: 16px;
  margin: 0 20px;
  align-items: center;
  width: 100%;
}

footer .reseaux_sociaux {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 35px;
  padding-right: 20px;
  border-right: 2px solid #ffffff;
}

footer .contact {
  max-width: 360px;
  height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .contact h3 {
  margin: 0;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
}

footer .contact > h3 {
   border-bottom: 2px solid #ffffff;
}

footer .contact h5 {
  color: #ffffff;
}

footer .contact ul {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #ffffff;
}

footer .contact ul li {
  margin: 0;
  padding: 0;
  height: 30px;
  list-style-type: none;
  color: #ffffff;
}

footer .contact .btn ul {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 2px solid #ffffff;
  text-align: center;
  padding-left: 8px;
}

footer .btn ul li:last-child {
  max-width: 75px;
  background: #ffffff;
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  footer .contact h3 {
    font-size: 0.8em
  }
  footer .contact ul li {
    font-size: 0.7em;
  }

} 

@media only screen and (max-width: 768px) {

  footer .container {
   grid-template-columns: 4fr 4fr;
  }

  footer .reseaux_sociaux {
    flex-direction: row;
    border-right: none;
    grid-column: 1/3;
    margin: auto;
    padding-right: 0;
  }

  
  [alt="footer_logo"] {
    width: 25%;
    margin-left: auto;
  }
   
  /* footer .reseaux_sociaux img {
    width: 30px;
  } */

}

@media only screen and (max-width: 528px) {

  footer .contact {
    grid-column: 1/3;
    margin: auto;
    margin-top: 40px;
    width: 250px;
    
  }

  footer .contact ul li {
    
  }
    
}